body {
    height: 2000px;
    margin: 0;
    font-family: 'Heebo', sans-serif;
}
hr {
    border-top: 0.1rem solid #cdcccc;
    margin-inline: 1rem;
    margin-block: 0;
    border-radius: 100rem;
}
button {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: black;
    height: 50%;
}
button:hover {
    cursor: pointer;
    color: #31a78f;
    transition: 0.2s;
}
ul {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}
li, a{
    cursor: pointer;
    list-style: none;
    display: block;
    text-decoration: none;
    width: 100%;
}
button {
    letter-spacing: 0.025rem;
}
section {
    background-color: beige;
}
