/** NAV TOP */
.nav-top {
    display: none;
    height: 2.3rem;
}


/** NavBar Container **/
.navbar-primary {
    height: 4.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 3rem;
}
.primary-navbar-left, .primary-navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
/** NavBar Logo*/
.nav-logo {
    padding: 0;
    margin-right: 2rem;
}
.logo {
    max-width: 2.5rem;
    max-height: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
}
.co-name {
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
    color: #3e9e8b;
}

/** NavBar Buttons */
.left-buttons, .user-buttons {
    position: relative;
}

    /** NavBar Buttons Divs*/
.nav-buttons-section {
    margin-inline: 1.5rem;
}
.nav-buttons-section li{
    padding-inline: 0rem;
}
.nav-buttons-section a{
    padding: 0.2rem;
}
.nav-buttons-section button {
    padding-inline: 1.8rem;
    padding-block: 0.7rem;
}

    /** User Buttons*/
.register button{
    background-color: #3e9e8b;
    color: white;
    border-radius: 6rem;
    width: 100%;
}
.register button:hover{
    opacity: 85%;
    transition: 0.25s;
}

.navbar-searchbar {
    position: relative;
}
.navbar-searchbar-field {
    height: 40%;
    width: 17rem;
    padding-block: 0.5rem;
    border: none;
    margin-left: 1.5rem;
    margin-bottom: 0;
    padding-left: 2.5rem;
    font-size: 1rem;
    background-color: rgb(233, 233, 233);
    border-radius: 2rem;
}
.search-icon {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.51rem;
    left: 2.5rem;
    opacity: 55%;
}


/** Hamburger Menu*/
.hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 1rem;
    height: 1.7rem;
}
.bar {
    display: block;
    width: 2rem;
    border-radius: 2rem;
    height: 0.2rem;
    background-color: black;
}
